.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #0f0f10;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/* Hero Banner Auto-Scroll Animation */
@keyframes slide-infinite {
    0% {
        transform: translateX(0);
    }
    33.33% {
        transform: translateX(0);
    }
    36.66% {
        transform: translateX(-33.33%);
    }
    66.66% {
        transform: translateX(-33.33%);
    }
    70% {
        transform: translateX(-66.66%);
    }
    100% {
        transform: translateX(-66.66%);
    }
}

.animate-slide-infinite {
    animation: slide-infinite 15s infinite;
}
